<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
    
      {% include splash.html %}

      <div class="container">
        {{ page.content }}
      </div>
      {% include footer.html %}
    </body>
</html>
